
/* Header */
.site-header .custom-header .site-title a {
  text-decoration: none;
}
.site-header .custom-header .site-title {
  text-decoration: none;
}
.site-header .custom-header .site-title {
  font-size:13px;
}
