
/* Header */
.site-header .custom-header .site-title a {
  text-decoration: none;
}
.site-header .custom-header .site-title {
  text-decoration: none;
}
.site-header .custom-header .site-title {
  font-size:36px;
}

/*
Speaker CSS */
.page-slug-speakers .entry-content{
  max-width: 100%;
}

